.customDiv {
    margin: 3px;
    min-height: 50px;
    background-color: silver;
    text-align: center;
    font-size: large;
    padding: 10px;
}

.row {
    margin-top: 1rem;
    background:yellow;
}

.col {
    padding: 10px 15px;
    background:green;
    border: 1px solid rgba(0, 0, 0, 0.5)
}